.container {
	border: 1px transparent;
	position: relative;
	padding: 10px;

	&.empty {
		height: 100px;
	}

	&.dragging {
		border: 1px dashed green;

		.label {
			color: rgb(27, 34, 27);
			display: block;
			position: absolute;
	    font-size: 10px;
  	  background-color: #fff;
    	top: -5px;
			left: 5px;
		}
	}

	.label {
		display: none;
	}

	&.editable {
		cursor: pointer;
	}

	&:hover {
		border: 1px dashed;
		content: "Container";

		.label {
			display: block;
			position: absolute;
	    font-size: 10px;
  	  background-color: #fff;
    	top: -5px;
			left: 5px;
		}
	}
}

.sideBar {
	position: fixed;
	display: flex;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 2;

	.editComponentMenu {
		display: none;

		&.editing {
			display: inherit;
		}
	}

	.addItemsMenu {
		display: flex;
		align-items: center;
	}

	.editComponentSelect {
		width: 100%;
		
		.MuiOutlinedInput-input {
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}

	.editComponentInputLabel {
		color: rgba(0, 0, 0, 0.54);
	}

	.formGrid {
		display: grid;
		grid-row-gap: 16px;
	}
}